.searchinput{
    border-radius: 50px;
    width: 96%;
    height: 30px;
    font-size: 12px;
    ion-input{
        margin-top: -12px;
    }
    ion-label{
        margin-top: 0px;
    }
}
.countrie {
    img {
        width: 32px;
        margin-right: 8px;
    }
}