<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <div class="tete">
      <img src="../../assets/icon/virus.png" alt="covid19">
    </div>
    <ion-title>
      {{ 'SYMPTOMS.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="consign">
    <p>
      {{ 'SYMPTOMS.paragraphOne' | translate }}
    </p>
    <p>
      {{ 'SYMPTOMS.paragraphTwo' | translate }}
    </p>
  </div>

  <h2> {{ 'SYMPTOMS.symptoms' | translate }} </h2>
  <div class="consign">
     <img class="image" src="../../assets/icon/throat.png" alt="mal de gorge">
     <div class="data">
       <div class="symptom"> {{ 'SYMPTOMS.throat' | translate }} </div>
     </div>
  </div>
  <div class="consign">
     <img class="image" src="../../assets/icon/cough.png" alt="toux">
     <div class="data">
       <div class="symptom"> {{ 'SYMPTOMS.cough' | translate }} </div>
     </div>
  </div>
  <div class="consign">
     <img class="image" src="../../assets/icon/fever.png" alt="fievre">
     <div class="data">
       <div class="symptom"> {{ 'SYMPTOMS.fever' | translate }} </div>
     </div>
  </div>
  <div class="consign">
     <img class="image" src="../../assets/icon/shortness.png" alt="difficultés respiratoires">
     <div class="data">
       <div class="symptom"> {{ 'SYMPTOMS.shortness' | translate }} </div>
     </div>
  </div>

  <h2> {{ 'SYMPTOMS.prevention' | translate }} </h2>
  <div class="consign">
     <img src="../../assets/icon/stayathome.jpg" alt="Restez chez vous">
     <div class="data">
       <div class="name"> {{ 'SYMPTOMS.preventionNameOne' | translate }} </div>
       <div class="infos">
         {{ 'SYMPTOMS.preventionDescriptionOne' | translate }}
       </div>
     </div>
  </div>
  <div class="consign">
     <img src="../../assets/icon/distance.jpg" alt="Gardez une distance">
     <div class="data">
       <div class="name"> {{ 'SYMPTOMS.preventionNameTwo' | translate }} </div>
       <div class="infos">
          {{ 'SYMPTOMS.preventionDescriptionTwo' | translate }}
       </div>
     </div>
  </div>
  <div class="consign">
     <img src="../../assets/icon/wash.png" alt="Lavez-vous">
     <div class="data">
       <div class="name"> {{ 'SYMPTOMS.preventionNameThree' | translate }} </div>
       <div class="infos">
         {{ 'SYMPTOMS.preventionDescriptionThree' | translate }}
       </div>
     </div>
  </div>
  <div class="consign">
     <img src="../../assets/icon/touch.jpg" alt="Couvrez-vous">
     <div class="data">
       <div class="name"> {{ 'SYMPTOMS.preventionNameFour' | translate }} </div>
       <div class="infos">
         {{ 'SYMPTOMS.preventionDescriptionFour' | translate }}
       </div>
     </div>
  </div>
  <div class="consign">
     <img src="../../assets/icon/medicaladvice.png" alt="Vous êtes malade?">
     <div class="data">
       <div class="name"> {{ 'SYMPTOMS.preventionNameFive' | translate }} </div>
       <div class="infos">
         {{ 'SYMPTOMS.preventionDescriptionFive' | translate }}
       </div>
     </div>
  </div>

</ion-content>
